<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalkulus Todo App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	
</head>
<body>
    <h1 class="text-center">My Todo App</h1>
    <div class="container">

        
        <div class="row">
            <div class="text-center text-muted">
                <p>A demo by <a href="https://mumunimohammed.xyz">Kalkulus</a>.</p>
                <p>Read the <a href="https://mumunimohammed.xyz/tutorials/node-todo-app.html">tutorial</a>.</p>
            </div>
        </div>

    </div>
    
</body>
</html>